$blue: #0099FF;
$light-blue: #dfeaec;
$dark: #222;
$input: #ffffff;
$navList: #eee;
$icon: #333;
$icon-bg: #999;
$facebook-bg: #3C5A9B;
$facebook: #fff;
$telegram-bg: #2CA5E0;
$telegram: #FAFDFF;
$twitter-bg: #00AEEF;
$twitter: #fff;
$footer: #091e27;
